.blue {
  color: #50bfff;
}

.orange {
  color: #fe870c !important;
}

.remind {
  color: #fe870c !important;
}

.adopt {
  color: #4caf50 !important;
}

.proh {
  color: #e43935 !important;
}

.red {
  color: #ff4d4d !important;
}

.link {
  color: #2196f3 !important;
  cursor: pointer;
}

.themeColor {
  color: #4f8cfa !important;
}

.tip.el-message {
  position: relative;
  top: 0;
}

.error {
  .el-input__inner {
    border-color: red;
  }

  p {
    font-size: 12px;
  }
}