@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './color.scss';
@import './similarTable.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

ul {
  padding: 0;

  li {
    list-style-type: none;
  }
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.fl {
  float: left;
}

.fr {
  float: right
}

.ml10 {
  margin-left: 10px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.p20 {
  padding: 20px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.app-main {
  padding: 20px
}

.box-card {
  overflow: visible;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;

  &.flexStart {
    justify-content: flex-start;
  }

  &.header {
    justify-content: space-between;
    position: relative;

    .buttonBox {
      .actions {
        color: #409EFF;
        border-color: #c6e2ff;
        background-color: #ecf5ff;
      }
    }

    .absolute {
      position: absolute;
      right: 0;
      top: -5px;
    }
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.el-table-filter {
  max-height: 300px;
  overflow: auto;
}

.tabBox {
  background: #fff;
  padding: 0;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);

  .el-tabs__header {
    margin: 0;

    .el-tabs__nav-scroll {
      padding: 0 20px;
    }

    .el-tabs__item {
      padding: 10px 30px !important;
      height: 60px;
      width: auto;
      line-height: 40px;
    }
  }
}