.SimilarTable {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-width: 0 0 1px 1px;

  .title {
    text-align: right;
    color: #a5a5a5;
    background: #f5f5f5;
  }

  .title,
  .contentBox {
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-width: 1px 1px 0 0;
    padding: 10px 25px;
    height: 70px;
    line-height: 50px;
  }

  button {
    margin-top: 10px;
    height: 28px;
  }
}